
/* ============================================================================
   CrashInsightsNZ - Custom Styling
   ============================================================================
   Custom CSS for the Shiny dashboard
   Author: Marco Vieto Vega
   Date: 2024
   ========================================================================= */

/* Base Styling */
body {
  font-family: 'Arial', sans-serif !important;
  background-color: #f8f9fa !important;
}

.content {
  padding: 8px !important;
}

/* Value Boxes */
.small-box {
  margin-bottom: 8px !important;
}

.small-box.bg-purple {
  background-color: #194a7a !important;
  color: white !important;
}

.small-box.bg-orange {
  background-color: #476f95 !important;
  color: white !important;
}

.small-box.bg-green {
  background-color: #7593af !important;
  color: white !important;
}

.small-box.bg-blue {
  background-color: #a3b7ca !important;
  color: white !important;
}

/* Sidebar Styling */

/* Sidebar Styling */
.sidebar {
  background-color: #495057 !important;
  border-right: 1px solid #23272b !important;
}

.sidebar .sidebar-menu .active > a {
  background-color: #17a2b8 !important;
  color: #ffffff !important;
}

.sidebar .sidebar-menu a {
  color: #ffffff !important;
}

.sidebar .sidebar-menu a:hover {
  color: #ffffff !important;
}

.sidebar .sidebar-menu .treeview-menu > li > a {
  color: #ffffff !important;
}

.sidebar .sidebar-menu .treeview-menu > li > a:hover {
  color: #17a2b8 !important;
}

/* Content Boxes */
.box {
  border-top: 3px solid #17a2b8 !important;
  background-color: #ffffff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 15px !important;
  border: 1px solid #f1f3f5 !important;
  margin-bottom: 8px !important;
}

.box-header {
  background-color: #ffffff !important;
  color: #343a40 !important;
  padding: 10px !important;
  border-bottom: 1px solid #e9ecef !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

/* Layout and Spacing */

.plot-box-wrapper .col-sm-4, .col-sm-8, .col-sm-6, .col-sm-12  {
  padding: 0 4px !important;
}

.col-sm-12 .box-body .row{
  padding: 8px !important;
}

.shiny-download-link {
  margin-bottom: 8px !important;
}

.small-box.bg-purple{
  background-color: #194a7a !important;
  color: white !important;
}

.small-box.bg-orange{
  background-color: #476f95 !important;
  color: white !important;
}

.small-box.bg-green{
  background-color: #7593af !important;
  color: white !important;
}

.small-box.bg-blue{
  background-color: #a3b7ca !important;
  color: white !important;
}

.filter-box {
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
          border: 1px solid #ddd;
          border-radius: 5px;
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 1000; /* ensure the filters are above the map */
        }
